/* media querry for height 577px and smaller would be required for responsive design. Maybe later*/
@import url('https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps|Roboto:400,700');
/* Margin and padding resets -------------------------*/
html{
	background: url("../img/fond2.jpeg");
	background-color: #000000;
	background-size: cover;
	background-attachment: fixed;
	overflow: hidden;
}
body{
	font-family: Roboto, sans-serif;
    margin: 0 auto;
    padding: 0;
    max-width: 1000px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a{
	text-decoration: none;
	color: #ffffff;
}
/* Header ------------------------------*/
h1{
	position:absolute;
	font-size: 8vh;
	padding: 0 0 0 2vw;
}
h2{
	font-size: 4vh;
	font-weight: 400;
	margin: 0 0 2vw 0;
}
header {
	font-family: 'Bilbo Swash Caps', cursive;
	position: relative;
	height: 15vh;
	max-width: 1000px;
	background-color: rgba(0,0,0,0.60);
	color: #ffffff;
}
/* Navigation --------------------------------*/
nav {
	position: relative;
	height: 6vh;
	max-width: 1000px;
	bottom: 0;
	z-index: 20;
}
nav ul {
    list-style: none;
    background-color: rgba(0,0,0,0.60);
    text-align: center;
}
nav a li {
	display: inline-block;
	width: 15vw;
	max-width: 150px;
    line-height: 8vh;
    height: 8vh;
	font-size: 1.3em;
		
	text-shadow: 0px 0px 0px #ffffff;
	background-color: rgba(68,68,68,0.00);
	transition: text-shadow 0.5s, background-color 0.8s;
}
nav a li:hover {
	text-shadow: 2px 2px 5px #000000;
	background-color: rgba(204,204,204,0.38);
}
nav a {
	color: #ffffff;
	text-shadow: inherit;
}
.current {
	text-decoration: underline;
}
td a{
	text-shadow: 0px 0px 0px #ffffff;
	background-color: rgba(68,68,68,0.00);
	transition: text-shadow 0.2s, background-color 0.4s;
}
td a:hover{
	text-shadow: 2px 2px 5px #000000;
	background-color: rgba(204,204,204,0.38);
}
/* Content of the page -------------------------------------*/
main{
	max-width: 1000px;
}
section {
	position: relative;
	z-index: 5;
	height: 60vh;
	max-width: 1000px;
	top: 2vh;
	padding: 5vh 0;
	color: #ffffff;
	background-color: rgba(0,0,0,0.65);
	text-shadow: 1px 1px 5px #000000;
}
#margin{
	padding: 0 5vw;
}
section #container{
	width: 25vw;
	max-width: 35%;
}
section #container img{
	position: absolute;
	width: inherit;
	max-width: inherit;
}
section #index{
	margin: 0;
	padding: 0;
	/*width: 40vw;*/
	max-width: 50%;
	float: right;
}
#cv{
	overflow: hidden;
}
/* Images order for slideshow--------------------------------------*/
#img1{
	z-index: 100;
}
#img2{
	z-index: 75;
}
#img3{
	z-index: 25;
}
#img4{
	z-index: 1;
}
/* CV Item "zooming" --------------------------------*/
.cvItem{
	font-size: inherit;
	line-height: 25px;
	transition: font-size 0.5s;
}
.cvItem:hover{
	font-size: 1.4em;
	line-height: 25px;
}

/* Table in Link page -------------------------------*/
section table{
	position: relative;
	width: 100%;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	line-height: 30px;
}
section table td{
	position: relative;
	width: 1px; /* mettre une largeur autre que 0 centre le tableau. Faque on le fait pis on pose pas de questions. */
}
section table img{
	max-height: 60px;
	max-width: 60px;
	float: right;
	margin-right: 20px;
}
/* Footer(e pense pas que c'était necéssaire de le spécifier.) ------------------------*/
footer{
	position: relative;
	margin-top: 2vh;
	padding: 2vh 0 0 0;
	height: 5vh;
	max-width: 1000px;
	color: #4c4c4c;
	background-color: rgba(8, 18, 28, 0.98);
}
footer span{
	margin-left: 2vw;
}
